<%- include ("template/navbar", {title: 'Opiniones'})%>
<br><br>
<div class="jumbotron jumbotron-fluid" style="background-color: #0C425F;"></div>
    <div class="container">
        <center>
          <h1 class="display-4" style="color: white;">Porfavor ingresa tu comentario</h1>
      <p class="lead" style="color: white;">Aquí debajo podrás mandar tu retroalimentación a los desarrolladores para buscar mejoras por implementar al sitio o simplemente tu opinión acerca del mismo. Tu opinión es totalmente anónima. :)</p>
    <br>
    <textarea rows="10" cols="70" name="comment" form="usrform" placeholder="Ingrese el texto aquí..."></textarea>
    </div>
        </center>
    <br>
        <center>
        <button type="submit" class="btn btn-primary btn-lg">  Enviar  </button>
        </center>

  </div>

  <!-- FOOTER -->
  
  <%- include ("template/footer")%>